.smvmt2020-input {
    padding: 6px 12px!important;
}

.smvmt2020-input--inline {
    display: flex;
    align-items: center;
}

.smvmt2020-input--inline .acf-label {
    order: 2;
    margin: 0!important;
}

.smvmt2020-input--inline .acf-label > label {
    font-weight: 400!important;
    margin: 0!important;
}

.smvmt2020-input--inline .acf-input {
    order: 1;
    width: auto;
}

.smvmt2020-input--subfield {
    background: #f3f4f5;
}

.smvmt2020-input--subfield .acf-label {
    margin: 0!important;
    padding-bottom: 6px;
}

.smvmt2020-input--subfield .acf-label > label {
    font-weight: 400!important;
}

.smvmt2020-input--subfield .acf-input {
    width: auto;
}

.editor-styles-wrapper--title-disabled {
    padding-top: 0;
}

.editor-styles-wrapper--title-disabled .editor-post-title {
    padding-top: 44px;
    height: 135px;
    background: #fff;
    height: 135px;
    border-bottom: 1px #e2e4e7 solid;
    margin-bottom: 6rem;
}

.editor-styles-wrapper--title-disabled .editor-post-title__block .editor-post-title__input {
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    color: #999;
    text-transform: none;
}

.editor-styles-wrapper--title-disabled .wp-block.editor-post-title__block.is-selected .editor-post-title__input {
    color: #191e23;
    text-transform: none;
}

.editor-styles-wrapper--top-spacing-disabled .editor-post-title {
    margin-bottom: 0!important;
}

.editor-styles-wrapper--top-spacing-disabled .block-editor-block-list__block:first-of-type,
.editor-styles-wrapper--top-spacing-disabled .block-editor-block-list__block:first-of-type .wp-block-embed {
    margin-top: 0!important;
}

/* Editor Structure --------------------------------- */

.wp-block {
	max-width: 720px;
}

.wp-block .wp-block[data-type="core/group"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]),
.wp-block .wp-block[data-type="core/cover"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]) {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
}

/*
    Typography
*/

.edit-post-visual-editor {
    padding-top: 0;
}

.editor-post-title {
    padding: 50px 0;
    background: rgb(51,52,46)!important
}

.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
.editor-styles-wrapper .wp-block-cover-image .wp-block-subhead:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover-image h1:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover-image h2:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover-image h3:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover-image h4:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover-image h5:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover-image h6:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover .wp-block-subhead:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover h1:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover h2:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover h3:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover h4:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover h5:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover h6:not(.has-text-color),
.editor-post-title__block .editor-post-title__input,
.wp-block.editor-post-title__block.is-selected .editor-post-title__input,
.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6  {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: .125em;
    color: #ffde16;
}

.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6 {
    color: #222;
}

.editor-styles-wrapper cite,
.editor-styles-wrapper figcaption,
.editor-styles-wrapper table,
.editor-styles-wrapper address,
.editor-styles-wrapper .wp-caption-text,
.editor-styles-wrapper .wp-block-file,
.editor-styles-wrapper .wp-block-paragraph {
    font-family: 'Source Serif Pro', serif;
    color: #222;
}

.footer-widgets-wrapper p,
.wp-block-cover p:not(.has-text-color),
.wp-block-cover-image p:not(.has-text-color) {
    color: #fff;
}